<div class="toolbar bgc-blue-500" style="width: 100%" >
	<span class="toolbar__label fs-title tc-white-1">Lorem Ipsum</span>
	<div class="toolbar__right">
		<ul>
			<li class="nav fs-regular"><a href="#" class="tc-white-1" ng-class="{active: mc.mode == 'diet'}" ng-click="mc.toggleMode('diet')">Питание</a></li>
			<li class="nav fs-regular"><a href="#" class="tc-white-1" ng-class="{active: mc.mode == 'weighting'}" ng-click="mc.toggleMode('weighting')">Контроль веса</a></li>
			<li class="nav fs-regular"><a href="#" class="tc-white-1" ng-class="{active: mc.mode == 'physicalActivity'}" ng-click="mc.toggleMode('unknown')">Физические нагрузки</a></li>
			<li class="nav fs-regular"><a href="#" class="tc-white-1" ng-class="{active: mc.mode == 'user'}" ng-click="mc.toggleMode('user')">Пользователи</a></li>
			<li class="nav fs-regular"><a href="#" class="tc-white-1" ng-class="{active: mc.mode == 'codetable'}" ng-click="mc.toggleMode('codetable')">Справочник</a></li>
		</ul>
	</div>
</div>
